{% extends "blog/base.html" %}
{% block content %}
<h1>New Post</h1>

<form class="post-form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Save</button>
</form>

<script>var editor = new MediumEditor('.editable');</script>     <!--- This script is from medium editor github page--->
<!--- Here creating a editor variable in the page, .editable class is attached to the widget. This .editable command is
coming from the forms.py file (widgets) --->
{% endblock %}